#root{
    width: 100vw;
    height: 100vh;
}

.container-form{
    width: 23rem;
    height: 25rem;
    border-radius: 2rem;
    border: 0.1rem solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    color: white;
}

.sidebar{
    background-color: black;
    background-size: cover;
}


.contains{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../photos/gradient-background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


.container-form:hover{
    border: 3px solid lightblue;
    box-shadow: 0 0 30px lightblue;
} 

.home-container{
    width: 23rem;
    height: 25rem;
    border-radius: 2rem;
    border: 0.1rem solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
}

.home-button{
    width: 18rem ;
    height: 3rem;
    background: transparent;
    margin-top: 20px;
    border-radius: 10px;
    border: 0.1rem solid white ;
    font-size: medium;
    color: white;
}

.home-button:hover{
    border: 3px solid lightblue;
    box-shadow: 0 0 30px lightblue;
    color: white;
}

.f-btn{
    width: 18rem ;
    height: 3rem;
    background: transparent;
    margin-top: 20px;
    border-radius: 10px;
    border: 0.1rem solid white ;
    font-size: medium;
    padding-left: 10px;
    color: white;
    text-align: center;
}

.f-btn:hover{
    border: 3px solid lightblue;
    box-shadow: 0 0 30px lightblue;
}

.f-link{
    text-decoration: none;
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}

.f-link:hover{
    text-decoration: underline;
}

footer{
    padding-top: 10px;
    text-align: left;
    color:white;
}

.f-title{
    margin-top:1px;
    margin-bottom: 4px;
    width: 20rem;
    font-size: xxx-large;
    color: white
}

.f-btn::placeholder{
    color: white;
}

.f-btn::placeholder:hover{
    box-shadow: 0 0 30px lightblue;
}

.register{
    padding-bottom: -7px;
}

.login{
    padding-bottom: 40px;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem
}

.comment{
    padding-top: 6px;
}

.introduction{
    margin-bottom: 5px;
    font-size: large;
}

footer{
    color: white;
    font-size: large;
}

.copyright{
    font-size: 0.85rem;
}

